<div class="container">
  <div>
    <h3>Fotos</h3>
    <mat-form-field >
      <mat-label>Selecione um filtro</mat-label>
      <select matNativeControl [(ngModel)]="modelName" (change)="aplicarFiltroOnSelectChange($event)">
          <option value="option0" selected>Sem filtro</option>
          <option value="option1">Ids Pares</option>
          <option value="option2">Ids Ímpares</option>
          <option value="option3">Ids Primos</option>
      </select>
    </mat-form-field>
  </div>
  <p></p>
  <div class="mat-elevation-z8">
    <mat-card class="example-card" *ngFor="let card of photosExibicao">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{card.title}}</mat-card-title>
          <mat-card-subtitle>{{card.id}}</mat-card-subtitle>
          <img mat-card-sm-image src="{{card.thumbnailUrl}}" alt="Foto aleatória">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="modificaLikes(card)">
          <mat-icon class="material-symbols-outlined" aria-hidden="false"
          aria-label="Polegar pra cima">thumb_up</mat-icon>
          Curtir <span *ngIf="card.likes > 0">({{card.likes}})</span>
        </button>
        <button mat-button (click)="modificaShares(card)">
          <mat-icon class="material-symbols-outlined" aria-hidden="false">share</mat-icon>
          Compartilhar <span *ngIf="card.shares > 0">({{card.shares}})</span></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-paginator #paginator
                (page)="handlePageEvent($event)"
                [length]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                showFirstLastButtons="true"
                [pageSizeOptions]="[5, 10, 20, 50, 100]">
  </mat-paginator>
</div>
