.example-card {
  max-width: 400px;
  margin-bottom: 10px;
}

.example-header-image {
  background-size: cover;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
  margin-bottom: 10px;
}
