nav a{
  padding: 1rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  background: #1976d2;
  color: white;
}

.mat-list-item {
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidenav {
    width: 80%;
  }
}
