<h2 mat-dialog-title>Detalhes da Foto</h2>
<mat-dialog-content>
  <div class="mat-elevation-z8">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{photo.title}}</mat-card-title>
          <mat-card-subtitle>{{photo.id}}</mat-card-subtitle>
          <img mat-card-sm-image src="{{photo.thumbnailUrl}}" alt="Foto aleatória">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="modificaLikes(photo)">
          <mat-icon class="material-symbols-outlined" aria-hidden="false"
          aria-label="Polegar pra cima">thumb_up</mat-icon>
          Curtir <span *ngIf="photo.likes > 0">({{photo.likes}})</span>
        </button>
        <button mat-button (click)="modificaShares(photo)">
          <mat-icon class="material-symbols-outlined" aria-hidden="false">share</mat-icon>
          Compartilhar <span *ngIf="photo.shares > 0">({{photo.shares}})</span></button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
