<div class="container">
  <div>
    <h3>Tabela de Fotos</h3>
    <mat-form-field>
      <mat-label>Selecione um filtro</mat-label>
      <select
        matNativeControl
        [(ngModel)]="modelName"
        (change)="aplicarFiltroOnSelectChange($event)"
      >
        <option value="option0" selected>Sem filtro</option>
        <option value="option1">Ids Pares</option>
        <option value="option2">Ids Ímpares</option>
        <option value="option3">Ids Primos</option>
      </select>
    </mat-form-field>
  </div>
  <p></p>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Id Collumn -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef (click)="sortBy('id')">
          Id
          <span *ngIf="sortByColumn === 'id'">
            <i class="material-icons">{{
              sortDirection === "asc" ? "arrow_drop_up" : "arrow_drop_down"
            }}</i>
          </span>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Title Collumn -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef (click)="sortBy('title')">
          Title
          <span *ngIf="sortByColumn === 'title'">
            <i class="material-icons">{{
              sortDirection === "asc" ? "arrow_drop_up" : "arrow_drop_down"
            }}</i>
          </span>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <!-- Url Collumn -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef (click)="sortBy('url')">
          Url
          <span *ngIf="sortByColumn === 'url'">
            <i class="material-icons">{{
              sortDirection === "asc" ? "arrow_drop_up" : "arrow_drop_down"
            }}</i>
          </span>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.url }}</td>
      </ng-container>

      <!-- Action Collumn -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="abrirDialogo(row)">
            Detalhes
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons="true"
      aria-label="Selecione a página de fotos"
    >
    </mat-paginator>
  </div>
</div>
